<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="EmployeeRepository" value="MvcWebRole1.Repository.MsSqlServer.MsSqlServerEmployeeRepository"/>
    </appSettings>

    <connectionStrings>
      <add name="HSDemo" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:m6xiffyebm.database.windows.net;Initial Catalog=HSDemo;Integrated Security=False;Persist Security Info=True;User ID=HSDemo;Password=Password01!;Connect Timeout=30;Encrypt=True"/>
    </connectionStrings>
</configuration>
